name: Validate Terraform Configuration
on:
  pull_request:
    branches:
      - main
      - master

permissions:
  id-token: write
  contents: read

jobs:
  validate-format:
    runs-on: ubuntu-latest
    name: Terraform Format Check
    outputs:
      CHECK_STATUS: "${{ env.CHECK_STATUS }}"
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0  # Fetch all history for all branches and tags
      
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v41
        with:
          files: |
            **/*.tf
      
      - name: Configure terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.2.4
      
      - name: Validate terraform fmt
        run: |
          echo "CHECK_STATUS=0" >> $GITHUB_ENV
          
          # Check if there are any changed Terraform files
          if [[ -n "${{ steps.changed-files.outputs.all_changed_files }}" ]]; then
            for file in ${{ steps.changed-files.outputs.all_changed_files }}; do
              if [[ $file == *.tf ]]; then
                echo "Checking terraform fmt on ${file}..."
                terraform fmt -check "${file}"
                FMT_STATUS=$?
                
                if [[ $FMT_STATUS -ne 0 ]]; then
                  echo "âŒ terraform fmt failed - ${file}" >> $GITHUB_STEP_SUMMARY
                  echo "CHECK_STATUS=1" >> $GITHUB_ENV
                fi
              fi
            done
          else
            echo "No Terraform files changed."
          fi
      
      - name: Process check
        if: always()
        run: exit ${{ env.CHECK_STATUS }}

  validate-terraform:
    runs-on: ubuntu-latest
    name: Terraform Validation
    needs: validate-format
    steps:
      - uses: actions/checkout@v3
      
      - name: Configure terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.2.4
      
      - name: Initialize Terraform
        run: |
          cd infrastructure
          terraform init -backend=false
      
      - name: Validate Terraform
        run: |
          cd infrastructure
          terraform validate
